.user{
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    width: 800px;
    height: 100px;
    background-color: white;
}

.avatar img{
    margin-left: 1rem;
    padding: 5px;
    border-radius: 50%;
    max-width: 100px;
}

.user_info{
    display: flex;
    flex-direction: column;
}
.nameUser{

}
.nameUser p{
    color: black;
    font-size: 2rem;
}

.place{

}

.place p{
    color: black;
    font-size: 1.3rem;
}

.add_user{
    display: flex;
    align-items: end;
    padding: 1rem;
    background-color: darkgray;
    border-radius: 0.8rem;
    transition: all 0.2s;
}

.add_user p{
    font-size: 1.3rem;
    color: black;
}

.add_user button {
    background-color: rgb(240, 240, 240, 0);
}

.add_user:hover{
    background-color: lightgray;
    transition: all 0.2s;
}

.push{
    margin-left: auto;
    margin-right: 1rem;
}