.user__post{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border: rgb(254, 140, 242) solid 2px;
    border-radius: 15px;
    min-height: 100px;
    width: 100%;
    margin: 1rem auto;
    gap: 5rem;
}
.user__post_title{
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
    min-height: 100px;
}
.user__post_avatar img{
    margin: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: #1a1a1a 0 0 25px;
    height: 75px;
    width: 75px;
}
.user__post_name{
    display: flex;
    width: 100px;
}

.user__post_data{
    display: flex;
    width: 100%;
}

.likes{
    min-width: max-content;
    margin-right: 2rem;
    font-size: 1rem;
}

.likes p{
    display: block;
}

.likes span{
    display: inline;
    color: rgb(254, 140, 242);
    font-weight: 500;
}