

.navbar{
    background-color: #101010;
    display: flex;
    flex-direction: column;
    min-width: 10%;
    min-height: 91vh;
    border: rgb(254, 140, 242) solid 1px; border-top: none;
}

.active{
    color: rgb(254, 140, 242);
}

.item{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0;
}