.dialogs{
    display: flex;
    width: 100%;
}

.dialogs_users_nav{
    width: 25%;
    border-right: 2px solid gray;
}

.chat_user{
    display: flex;
    align-items: center;
    box-shadow: rgba(242, 195, 255, 0.25) 0 2px 5px;
}

.chat_user p{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
}

.chat_user img{
    margin: 0.4rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.active{
    background-color: rgba(242, 195, 255, 0.25);
}

.dialog_chat_void{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.dialog_msg_void{
    width: 90%;
    font-size: 1.3rem;
    margin: 0 auto;
}

.dialog_msg_void p {
    border: gray solid 1px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.dialog_input_void{
    display: flex;
    align-items: end;
    margin: 2rem auto;
    width: 75%;
}

.chat_input{
    display: flex;
    justify-content: end;
    border: 2px solid rgb(254, 140, 242);
    border-radius: 15px;
    width: 90%;
    height: 4rem;
    margin: 0 auto;
}
.chat_input textarea{
    width: 100%;
    background-color: rgba(254, 140, 242, 0);
    resize: none;
    padding: 1rem;
}

.chat_input button{
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgba(254, 140, 242, 0);
    border: none;
    font-size: 1.2rem;
}