.dialogs{
    display: flex;
    width: 100%;
}

.dialogs_users_nav{
    width: 25%;
    border-right: 2px solid gray;
}

.dialog_chat_void{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
}

.dialog_free_void{
    display: flex;
    justify-content: end;
    height: 100%;
}

.dialog_chat_void::-webkit-scrollbar {
    width: 10px; /* Ширина всего элемента навигации */
}

.dialog_chat_void::-webkit-scrollbar-track {
    background: rgba(1, 1, 1, 0.2); /* Цвет дорожки */
}

.dialog_chat_void::-webkit-scrollbar-thumb {
    background-color: gray; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
    border: 2px solid gray; /* Оформление границ бегунка */
}