.dialogs{
    display: flex;
    width: 100%;
}

.dialogs_users_nav{
    width: 25%;
    border-right: 2px solid gray;
}

.dialog_chat_void{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dialog_input_void{
    display: flex;
    margin: 2rem auto;
    width: 75%;
}

.dialog_free_void{
    display: flex;
    justify-content: end;
    height: 100%;
}
