.blockFind{
    gap: 1rem;
    margin: 1rem auto;
    flex-flow: column;
    display: flex;
    align-items: center;
}

.updateNewUsers{
    padding: 1rem;
    width: 250px;
    background-color: darkgray;
    border-radius: 3rem;
}

.updateNewUsers p{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: black;
}