.wall__post__void{
    border-top: rgb(254, 140, 242) solid 1px;
    display: flex;
    flex-direction: column;
}

.input__void{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border: rgb(254, 140, 242) solid 2px;
    border-radius: 15px;
    min-height: 100px;
    width: 800px;
    margin: 3rem auto;
    gap: 5rem;
}

.input__void textarea{
    background-color: rgba(254, 140, 242, 0);
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 2rem;
    resize: none;
}

.input__void button{
    background-color: rgba(141, 141, 141, 0);
    width: 20%;
    height: 100%;
    border-left: 1px solid gray;
    font-size: 1.1rem;
    font-weight: 500;
}

.user__post{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border: rgb(254, 140, 242) solid 2px;
    border-radius: 15px;
    min-height: 100px;
    width: 800px;
    margin: 3rem auto;
    gap: 5rem;
}
.user__post_title{
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
    min-height: 100px;
}
.user__post_avatar img{
    margin: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: #1a1a1a 0 0 25px;
    height: 75px;
    width: 75px;
}
.user__post_name{
    display: flex;
    width: 100px;
}

.user__post_data{
    display: flex;
    width: 100%;
}